@font-face {
  font-family: "NeueHaasDisplay";
  src: url("../assets/fonts/NHaasGroteskTXPro-55Rg.ttf");
  font-weight: normal;
}

body {
  font-family: "NeueHaasDisplay";
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s ease;
}

.container.active-menu {
  padding-left: 105px;
}

.menu-desktop,
.side-info {
  width: 120px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #fff;
  transition: all 0.3s ease;
}

.menu-desktop {
  left: 0;
  align-items: center;
  padding: 40px 0;
  z-index: 2;
}

.menu-desktop.show {
  width: 220px;
}

.logo-wrapper .logo-full,
.menu-desktop.show .logo-wrapper .logo {
  display: none;
}

.menu-desktop.show .logo-wrapper .logo-full {
  display: block;
}

.side-info {
  right: 0;
  padding: 40px 0;
  align-items: center;
  z-index: 5;
}

.hamburger {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  padding-top: 10px;
  z-index: 2;
}

.hamburger span {
  background-color: #212930;
}

.hamburger.active span:nth-child(1) {
  top: 8px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: -8px;
  transform: rotate(-45deg);
}

.hamburger span {
  width: 32px;
  height: 2px;
  background-color: #000;
  margin-bottom: 6px;
  transition: all 0.3s ease;
  position: relative;
}

.main-hero {
  width: 100%;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main-hero .parallaxChildren,
.hero-2 .parallaxChildren {
  width: 100%;
  height: 200%;
  /* background-size: cover !important; */
  position: relative;
  top: -80%;
  display: flex;
  justify-content: center;
}

.hero-2 .parallaxChildren {
  top: -21%;
}

.main-hero.project .parallaxChildren {
  justify-content: flex-start;
}

.main-hero .hero-content {
  max-width: 850px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 45%;
}

.main-hero .hero-content h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.main-hero .btn {
  background-color: #2eaf7d;
  display: flex;
  padding: 20px 40px;
  /* width: fit-content; */
  color: #ffffff;
}

.main-hero .btn .btn-arrow {
  margin-left: 10px;
}

.side-info img {
  height: 80px;
  transition: all 0.5s ease-out;
}

.side-info .scrollElem.bottom img {
  transform: none;
}

.side-info .scrollElem.top img {
  transform: rotate(180deg);
}

.side-info .scrollElem {
  padding: 0 20px;
  cursor: pointer;
}

.side-info h2 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.main-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menus {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.menus.show {
  opacity: 1;
}

.menus a {
  margin-bottom: 15px;
}

.article {
  display: flex;
  position: relative;
  z-index: 1;
}

.article .description,
.article .img-preview {
  width: 50%;
}

.article .img-preview img {
  width: 100%;
  height: 100%;
}

.article .description {
  padding: 80px;
  background: #fff;
}

.article .description .title {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.article .description p {
  font-size: 1.3rem;
  margin-bottom: 20px;
  line-height: 27px;
}

.article .description img {
  transform: rotate(-90deg);
  position: relative;
  left: 35px;
}

.article-fullw {
  padding: 110px 80px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.article-fullw .content {
  width: 70%;
}

.article-fullw .content h3 {
  font-size: 4.7rem;
  margin-bottom: 38px;
}

.article-fullw .content p {
  font-size: 1.7rem;
  line-height: 28px;
}

.arturl {
  width: 100%;
  display: inline-block;
}

.button {
  background-color: #2eaf7d;
  display: flex;
  color: #fff;
  align-items: center;
  padding: 6px 20px;
  padding-right: 50px;
}

.button img {
  transform: scale(0.7) rotate(-90deg);
  position: relative;
  left: 20px;
}

.article-fullw.with-bg {
  position: relative;
}

.article-fullw.with-bg .content {
  z-index: 1;
}

.article-fullw.with-bg h3,
.article-fullw.with-bg p {
  color: #fff;
}

.article-fullw.with-bg .button {
  background-color: #c1f6ed;
  color: #000;
  z-index: 1;
}

.article-fullw.with-bg .mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0e353c;
  opacity: 0.6;
}

.harmonic {
  display: flex;
  height: 520px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.harmonic div {
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: flex-basis 0.5s;
}

.harmonic div:hover {
  cursor: pointer;
}

.harmonic div.active {
  flex-basis: 40%;
}

.slogan {
  display: flex;
  padding: 0 64px;
  height: 356px;
  align-items: center;
  background-image: url("../assets/images/slogan.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.slogan span {
  font-size: 3rem;
  margin-right: 40px;
  color: #0e353c;
}

.slogan .green {
  color: #26b787;
}

.quote {
  background-color: #f6f6f6;
  padding: 110px 80px;
  background-image: url("../assets/images/quote.svg");
  background-repeat: no-repeat;
  background-position: right 76px center;
}

.quote .content {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.quote .content h4 {
  color: #707070;
  font-size: 2.9rem;
  margin-bottom: 38px;
}

.quote .content p {
  font-size: 2.9rem;
  color: #0e353c;
  margin-bottom: 20px;
}

.quote .author {
  color: #26b787;
  font-size: 2rem;
}

.contact {
  width: 100%;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #0e353c;
  padding: 40px 80px;
  border-top: 11px solid #26b787;
  display: flex;
  align-items: flex-end;
}

footer div {
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  color: #ffffff;
}

footer div span {
  margin-bottom: 10px;
}

footer div .footer-logo {
  width: 87px;
  margin-bottom: 25px;
}

footer .copyright {
  color: #26b787;
  font-size: 1rem;
  width: 10%;
}

.hero-2 {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.hero-2 .bg-wrapper {
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 100%;
}

.hero-2 h1 {
  font-size: 3.4rem;
  margin-bottom: 40px;
}

.hero-2 .description {
  background-color: #f3f3f3;
  background-image: url("../assets/images/logo-about.png");
  background-repeat: no-repeat;
  background-position: bottom 30px left 30px;
  width: 100%;
  padding: 85px 30px 120px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.hero-2 .description .text {
  width: 50%;
  margin: 0 auto;
  font-size: 1.7rem;
}

.hero-2 .description .text p {
  margin-bottom: 20px;
}

.hero-2 .description-2 .text {
  display: flex;
  font-size: 1.7rem;
}

.hero-2 .description-2 .text p {
  width: 50%;
  padding-right: 120px;
  line-height: 30px;
}

.hero-2 .description-2 {
  padding: 80px 80px 120px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.article-fullw.green {
  background-color: #26b787;
  color: #fff;
  background-image: url("../assets/images/logo-green-article.png");
  background-repeat: no-repeat;
  background-position: center right 120px;
  background-size: auto;
}

.article-fullw.green .content h3 {
  font-size: 3.4rem;
  line-height: 41px;
}

.article-fullw.green .content .button {
  background-color: #0e353c;
  padding: 20px 40px;
  width: fit-content;
  transform: none;
  margin-top: 40px;
}

.projects .filters {
  padding: 78px 80px;
  display: flex;
  font-size: 2rem;
}

.projects .filters span {
  margin-right: 30px;
  cursor: pointer;
}

.projects .filters span.active {
  text-decoration: underline;
}

.projects .filters .by {
  margin-right: 40px;
}

.projects .content {
  display: flex;
  flex-wrap: wrap;
}

.projects .content .project {
  width: 50%;
  margin-bottom: 40px;
}

.projects .content .project:nth-child(odd) {
  padding-right: 40px;
}

.projects .content .project:nth-child(even) {
  padding-left: 40px;
}

.projects .content .info {
  padding: 46px 80px;
}

.projects .content .info h4 {
  font-size: 2.8rem;
  margin-bottom: 5px;
}

.projects .content .info p {
  font-size: 2rem;
}

.projects .content .project img {
  width: 100%;
}

.main-hero.project {
  justify-content: flex-start;
  position: relative;
}

.main-hero.project .hero-content {
  padding-left: 10%;
  align-items: flex-start;
}

.main-hero.project .hero-content h1 {
  margin-bottom: 10px;
  text-align: left;
}

.main-hero.project .hero-content p {
  font-size: 2rem;
}

.main-hero.project .btn {
  position: absolute;
  left: 10%;
  bottom: 30%;
}

.project-info {
  display: flex;
  padding: 60px 0;
}

.project-info .main-part {
  width: 60%;
  padding: 20px 80px;
}

.project-info .main-part .title {
  margin-bottom: 40px;
}

.project-info .main-part .title h3 {
  font-size: 3.7rem;
  margin-bottom: 5px;
}

.project-info .main-part .title p {
  font-size: 2rem;
}

.project-info .main-part .description p {
  font-size: 2rem;
  margin-bottom: 30px;
  line-height: 41px;
}

.project-info .author {
  border-left: 1px solid #cfcfcf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 8%;
}

.project-info .author span {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  height: auto;
  width: 100%;
}

.gallery a {
  margin-bottom: 40px;
}

.gallery a:last-child {
  margin-bottom: 0;
}

.gallery .full {
  width: 100%;
}

.gallery .half {
  width: 50%;
}

.gallery .half:nth-child(odd) {
  padding-left: 20px;
}

.gallery .half:nth-child(even) {
  padding-right: 20px;
}

.map-wrapper {
  display: flex;
  flex-direction: column;
}

#map {
  width: 100%;
  height: 550px;
}

.map-wrapper .description {
  display: flex;
  padding: 77px 84px;
  background-color: #f6f6f6;
  justify-content: space-between;
  font-size: 1.6rem;
  line-height: 36px;
}

.map-wrapper .description .name {
  border-right: 1px solid #cfcfcf;
  padding-right: 100px;
  margin-right: 40px;
}

.map-wrapper .description .company-info {
  display: flex;
  justify-content: space-between;
}

.map-wrapper .description .company-info div {
  display: flex;
  flex-direction: column;
  margin-right: 110px;
}

/* .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

.contact-section {
  padding: 40px 70px 100px 84px;
}

.contact-section .info {
  margin-bottom: 110px;
  font-size: 1.6rem;
}

.contact-section .info p {
  margin-bottom: 45px;
  max-width: 60%;
  line-height: 36px;
}

.contact-section .form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.contact-section .form .firstpart {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.contact-section .form .firstpart .radios {
  display: flex;
  padding: 46px 0;
}

.contact-section .form .firstpart .radios div {
  margin-right: 50px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.contact-section .form .firstpart .radios div label {
  margin-left: 10px;
}

.contact-section .form .secondpart {
  width: 45%;
}

.contact-section .form input[type="text"],
.contact-section .form input[type="email"],
.contact-section .form textarea {
  border: 1px solid #666666;
}

.contact-section .form input[type="text"],
.contact-section .form input[type="email"] {
  width: 45%;
  height: 80px;
  padding: 0 30px;
  margin-right: 30px;
}

.contact-section .form textarea {
  padding: 30px;
  margin-bottom: 40px;
}

.contact-section .form form .btn {
  background-color: #0e353c;
  display: flex;
  padding: 20px 40px;
  width: fit-content;
  color: #ffffff;
  cursor: pointer;
}

.contact-section .form form .btn .txt {
  margin-right: 20px;
}

header.for-mobile {
  display: none;
  position: fixed;
  padding: 20px 51px;
  background-color: #fff;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  color: #fff;
  z-index: 3;
}

header.for-mobile .logo {
  width: 79px;
  z-index: 2;
}

header.for-mobile nav {
  display: flex;
  font-size: 16px;
  align-items: center;
}

header.for-mobile .header-nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 25px;
}

header.for-mobile nav .hamburger {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 5;
  flex-direction: column;
  cursor: pointer;
  padding-top: 10px;
  z-index: 2;
}

body.active-menu header.for-mobile nav .hamburger span {
  background-color: #212930;
}

header.for-mobile nav .hamburger.active span:nth-child(1) {
  top: 12px;
  transform: rotate(45deg);
}

header.for-mobile nav .hamburger.active span:nth-child(2) {
  opacity: 0;
}

header.for-mobile nav .hamburger.active span:nth-child(3) {
  top: -12px;
  transform: rotate(-45deg);
}

header.for-mobile nav .hamburger span {
  width: 32px;
  height: 2px;
  background-color: #000;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  position: relative;
}

nav#main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: none;
}

nav#main-nav.active {
  display: flex;
}

nav#main-nav .bg-transparent {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

nav#main-nav .nav-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  align-items: center;
  position: absolute;
}

nav#main-nav .nav-wrapper a {
  color: #212930;
  text-decoration: none;
  margin-bottom: 20px;
}

nav#main-nav .nav-wrapper a:hover {
  color: #212930;
  text-decoration: underline;
}

div.bx-wrapper {
  box-shadow: none;
  border: none;
}

@media (max-width: 1680px) {
  .container {
    width: 100%;
  }

  .menu-desktop,
  .side-info {
    display: none;
  }

  header.for-mobile {
    display: flex;
  }

  html {
    font-size: 85%;
  }

  .article .description {
    padding: 60px;
  }

  .projects {
    padding: 0 20px;
  }
}

@media (max-width: 1680px) {
  html {
    font-size: 75%;
  }

  .article .description {
    padding: 60px;
  }

  .main-hero .btn .btn-arrow img {
    height: 7px;
  }
}

@media (max-width: 1440px) {
  .map-wrapper .description .company-info div {
    margin-right: 80px;
  }

  .map-wrapper .description {
    padding: 77px 54px;
  }

  .contact-section .form form {
    flex-direction: column;
  }

  .contact-section .form .firstpart {
    width: 100%;
  }

  .contact-section .form .secondpart {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .slogan {
    height: 255px;
    background-position: right -230px center;
  }

  .projects .content .project:nth-child(odd) {
    padding-right: 10px;
  }

  .projects .content .project:nth-child(even) {
    padding-left: 10px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 65%;
  }

  .article .description {
    padding: 33px;
  }

  .article .description img {
    height: 50px;
    left: 26px;
  }

  footer {
    flex-wrap: wrap;
  }

  footer div {
    width: 50%;
    margin-bottom: 30px;
  }

  .hero-2 .description-2 .text p {
    padding-right: 60px;
  }

  .projects .filters {
    padding: 58px 40px;
  }

  header.for-mobile {
    height: 80px;
    padding: 20px 30px;
  }

  header.for-mobile .header-nav a {
    margin: 0 15px;
    font-size: 12px;
  }

  header.for-mobile .logo {
    width: 50px;
  }

  .map-wrapper .description .company-info div {
    margin-right: 40px;
  }

  .contact-section .form input[type="text"],
  .contact-section .form input[type="email"] {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .article {
    flex-direction: column;
  }

  .article.right-img {
    flex-direction: column-reverse;
  }

  .article .description,
  .article .img-preview {
    width: 100%;
  }

  .main-hero .hero-content {
    padding: 0 15px;
  }

  .article-fullw {
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 30px;
  }

  .article-fullw .content {
    width: 100%;
  }

  .article-fullw .content p {
    margin-bottom: 20px;
  }

  .quote {
    padding: 50px 30px;
    background-size: 20%;
  }

  .quote .content {
    width: 100%;
  }

  .slogan {
    background-position: right -420px center;
    justify-content: center;
    flex-direction: column;
  }

  .slogan span {
    margin-right: 0;
    margin-bottom: 20px;
  }

  footer div {
    align-items: center;
    width: 100%;
  }

  footer .copyright {
    width: 100%;
  }

  .hero-2 .description {
    padding: 85px 30px 80px;
  }

  .hero-2 .description-2 {
    padding: 40px 30px 20px;
  }

  .hero-2 .description .text {
    width: 100%;
  }

  .hero-2 .description-2 .text {
    flex-direction: column;
  }

  .hero-2 .description-2 .text p {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .projects .content {
    flex-direction: column;
  }

  .projects .content .project {
    width: 100%;
    padding: 0 !important;
  }

  .projects .filters {
    flex-direction: column;
  }

  .projects .content .info {
    padding: 46px 40px;
  }

  .projects .filters span {
    margin-bottom: 10px;
  }

  header.for-mobile {
    height: 70px;
  }

  header.for-mobile nav .hamburger span {
    width: 28px;
    margin-bottom: 7px;
  }

  header.for-mobile nav .hamburger {
    width: 40px;
  }

  .map-wrapper .description {
    flex-direction: column;
  }

  .map-wrapper .description .name {
    border: none;
  }

  .map-wrapper .description .company-info {
    flex-direction: column;
  }

  .inputs {
    display: flex;
    flex-direction: column;
  }

  .contact-section {
    padding: 40px 40px 100px;
  }

  .contact-section .form input[type="text"],
  .contact-section .form input[type="email"] {
    margin-bottom: 20px;
    width: 100%;
  }

  .contact-section .form .firstpart .radios div {
    margin-right: 20px;
  }

  header.for-mobile nav .hamburger.active span:nth-child(1) {
    top: 9px;
  }

  header.for-mobile nav .hamburger.active span:nth-child(3) {
    top: -9px;
  }

  .project-info {
    flex-direction: column;
  }

  .project-info .main-part {
    width: 100%;
    padding: 3% 8%;
  }

  .project-info .author {
    width: 100%;
    padding: 3% 8%;
  }
}

@media (max-width: 740px) {
  .contact-section .form .firstpart .radios {
    flex-direction: column;
    padding: 16px 0;
  }

  .contact-section .form .firstpart .radios div {
    margin-bottom: 10px;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 60%;
  }
  .article .description {
    padding: 20px;
  }
  .gallery {
    padding: 10px;
  }
  .gallery img.half {
    width: 100%;
    padding: 0 !important;
  }

  .harmonic div {
    flex: unset;
  }

  .harmonic div.active {
    flex-basis: unset;
  }

  .article-fullw.green {
    background-image: none;
  }

  .main-hero .parallaxChildren,
  .hero-2 .parallaxChildren {
    height: 100%;
    top: 0;
    background-size: cover !important;
  }
}
